:root {
    --azul1: #B9E5ED;
    --azul2: #4E8EA6;
    --azul3: #0a2861;
    --cinza1: #5b719c;
    --cinza2: #414f6d65;
    --fundo: #E6FFFF;

    --semibold: 600;
}

@import url('https://fonts.googleapis.com/css2?family=Kameron:wght@400..700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: var(--fundo);
  }

/* Header */


  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--azul1);
    height: 128px;
    padding: 10px 20px;
  }

  .lula, .bolso {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .logo {
    height: 97px;
    width: 228px;
    margin-left: 170px;
  }

  .icones {
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    height: 50px;
    width: 108px;
    margin-right: 170px;
    gap: 29px;
    user-select: none;
  }

  .pesquisa {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    height: 32px;
    width: 310px;
    background-color: var(--fundo);
    border: 2px solid var(--azul2);
    border-radius: 20px;
  }

  .pesquisa span {
    font-size: 25px;
    user-select: none;
    color: var(--azul2);
    font-family: 'Kameron', serif;
    font-weight: var(--semibold);
    margin: 10px;
  }

  /* Header fim*/

  /* navbar*/
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--azul2);
    height: 79px;
    padding: 10px 20px;
    user-select: none;
}

.icones-navbar {
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 57px;
    width: 1151px;
}

  /* navbar fim*/

  /* Body */

  /* Container */

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner1{
    height: 373px;
    width: 100%;
}

#banner2{
    height: 370px;
    width: 100%;
    gap: 127px;
}


#banner2-minitexto{
    font-size: 20px;
    color: var(--azul3);
    font-family: 'Kameron', serif;
    font-weight: var(--semibold);
    margin: 10px;
  }

#banner2-2{
    height: 370px;
    width: 288px;
    text-align: center;
}

#banner3{
    height: 440px;
    width: 100%;
    gap: 60px;
}

#banner3-minitexto{
    font-size: 20px;
    color: var(--azul3);
    font-family: 'Kameron', serif;
    font-weight: var(--semibold);
    margin: 10px;
  }

  #banner3-precotexto{
    font-size: 30px;
    color: var(--cinza1);
    font-family: 'Kameron', serif;
    font-weight: var(--semibold);
    margin: 10px;
    
  }

#banner3-3{
    height: 330px;
    width: 220px;
    text-align: center;
    background-color: var(--azul1);
    border-radius: 20px;
}

#banner4{
  height: 862px;
  width: 100%;
  gap: 60px;
  flex-direction: column;
}

#banner5{
  height: 350px;
  width: 1129px;
  gap: 60px;
}

#banner5-in{
  height: 350px;
  width: 1129px;
  gap: 60px;
  flex-direction:row-reverse;
  
}

#spanos {
  font-size: 20px;
  color: var(--azul3);
  font-family: 'Kameron', serif;
  font-weight: var(--semibold);
  margin: 10px;
}

#spanoss {
  font-size: 20px;
  color: var(--azul3);
  font-family: 'Kameron', serif;
  font-weight: var(--semibold);
  margin: 10px;
}

#rodape{
  height: 221px;
  width: 100%;
  gap: 60px;
  background-color: #000b1f;
}

#separador{
    height: 100px;
    width: 100%;
}

#textoavulco{
    height: 30px;
    width: 1060px;
}

#textoavulco span {
    font-size: 25px;
    color: var(--azul3);
    font-family: 'Kameron', serif;
    font-weight: var(--semibold);
    margin: 10px;
  }

.preco-container {
    display: flex;
    gap: 5px;
    margin-left: 10px;
}

.avista-texto {
    font-size: 16px;
    color: var(--cinza2);
    font-family: 'Kameron', serif;
    font-weight: normal;
    text-align: center;
    margin-top: -5px;
}


    /* Container fim*/

    /* imagem */

.imagem{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0px 4px 4px #00000049;
}

#imagem2{
    height: 236px;
    width: 288px;
}

#imagem3{
    height: 154px;
    width: 192px;
    box-shadow: 0px 4px 4px #00000000;
}

#imagem5{
  height: 300px;
  width: 300px;
  box-shadow: 0px 4px 4px #00000000;
}

#imagemb1{
  height: 348px;
  width: 963px;
  box-shadow: 0px 4px 4px #00000000;
}

    /* imagem fim*/

    /* Banner 1*/
.banner1 {
    height: 337px;
    width: 941px;
    border-radius: 20px;
}

    /* Banner 1 fim*/

  /* Body fim*/