:root {
    --azul1: #B9E5ED;
    --azul2: #4E8EA6;
    --azul2_5: #3c7597;
    --azul3: #0a2861;
    --azul4: #0367A6;
    --azul5: #67bce6;
    --azul6: #000b1f;

    --cinza1: #5b719c;
    --cinza2: #414f6d65;
    --fundo: #E6FFFF;

    --semibold: 600;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    height: 3000px;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--azul1);
    height: 128px;
    padding: 10px 20px;
  }

.lula, .bolso {
    display: flex;
    align-items: center;
    gap: 10px;
  }

.logo {
    height: 97px;
    width: 228px;
    margin-left: 170px;
  }

.icones {
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    height: 50px;
    width: 108px;
    margin-right: 170px;
    gap: 29px;
    user-select: none;
  }

.pesquisa {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    height: 32px;
    width: 310px;
    background-color: var(--fundo);
    border: 2px solid var(--azul2);
    border-radius: 20px;
  }

.pesquisa span {
    font-size: 25px;
    user-select: none;
    color: var(--azul2_5);
    font-family: 'Kameron', serif;
    font-weight: var(--semibold);
    margin: 10px;
  }

   /* Icones */

#lupa {
    font-size: 25px;
    color: var(--azul2_5);
    user-select: none;
  }

#iconsH {
    font-size: 35px;
    color: var(--azul2_5);
    user-select: none;
  }

/* titulo e pag steam */




.text-check{
    display: flex;
    position: relative;
    bottom: 30px;
    left: 230px;
    gap: 5px;
}


#banner-steam{
    border-radius: 10px;
    border: 1px solid black;
}

.mini-banner{
    display: flex;
    gap: 10px;
    position: relative;
    margin-left: 20px;
}

#mini-banner-img{
    border-radius: 10px;
    border: 2px solid black;
    margin-top: 5px;
    transition: 400ms ease;
}

#mini-banner-img:hover{
    transform: translateY(-5px);
    filter: brightness(1.2);
    cursor: pointer;
}

.icon-seta{
    position: relative;
    margin-top: 45px;
    margin-right: 10px;
    font-size: 30px;
    transition: 400ms ease;
}

.icon-seta:hover{
    transform: translateX(-5px);
    cursor: pointer;
}

#seta2:hover{
    transform: translateX(5px);
    cursor: pointer;
}

/* block 1 */

.conteiner-block{
    display: flex;
    margin: 0 auto;
    gap: 20px;
    margin-top: 90px;
    margin-right: 100px;
    justify-content: center;
}

.title-block1{
    position: relative;
    top: -30px;
}

.block1{
    background-color: #67bce6;
    height: 600px;
    width: 500px;
    position: relative;
    border-radius: 10px;
}

/* separador */

.icon-separador-poggers{
    display: flex;
    position: relative;
    gap: 10px;
    bottom: 16px;
    right: 20px;
    height: 0px;
    width: 200px;
    color: #0a2861;
}

.linha-1{
    border: 1px solid #0a2861 ;
}

#linha1{
    left: 100px;
    top: 5px;
    width: 200px;
    position: relative;
}

#linha2{
    width: 100px;
    position: relative;
    top: 12px;
    left: 60px;
}

#linha3{
    width: 120px;
    position: relative;
    top: -3px;
}

.icon-aviao{
    font-size:30px;
    position: relative;
    bottom: 10px;
}

.text-viagens{
    color: #0a2861;
    margin-left: 10px;
}

/* subblock text */

#Destino{
    margin: 15px;
    font-size: 20px;
}

.seus-destino{
    color: var(--azul3);
    display: flex;
    flex-direction: row;
    gap: 80px;
    font-size: 25px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}

    /* companhia */

#Companhia{
    margin-top: 30px;
}

.compainha-icon{
    position: relative;
    top: -10px;
}

#arrumar-png{
    width: 150px;
    height: 70px;
}

/* partida e volta info */
#Data{
    position: relative;
    bottom: 10px;
}

.ida-e-volta{
    display: flex;
    gap: 50px;
    justify-content: center;
    font-size: 20px;
    text-align: center;
    color: var(--azul3);
}

#partida{
    font-family: monospace;
}

#separador2{
    position: relative;
    top: 40px;
    left: 90px;

}

/* subblock*/

.sub-block{
    background-color: #0a2861;
    height: 200px;
    max-width: 450px;
    margin: 20px;
    position: relative;
    top: 50px;
    border-radius: 10px;
}

.text-poggers{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    top: 20px;
    left: 20px;
    font-size: 15px;
    color: #B9E5ED;
}

.cupom{
    color: #E6FFFF;
    position: relative;
    justify-items: center;
    align-items: center;
    top: 10px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin: 8px 0;
  transition: all 0.3s ease;
}

/* wiki pages kkkkk */

.wiki-pai{
    justify-content: center;
}

.wiki-link{
    background-color: #4E8EA6;
    height: 58px;
    width: 900px;
    align-items: center;
    position: relative;
    display: flex;
    left: 266px;
    top:35px;
    text-align: center;
    border-radius: 10px;
    transition: 400ms ease;
    color: #E6FFFF;
    justify-content: space-around;
}

.wiki-link:hover{
    transform: scale(1.1) ;
}

.wiki-text{
    display: flex;
    align-items: center;
}

.redi-icon, #wiki-icon {
    font-size: 30px;
    padding: 3px;
}

#text-solt{
    color: #0a2861;
    position: relative;
    left: 266px;
    top: 30px;
    width: 300px;
}

/* blocos de informações */

.info-complementares{
    display: flex;
    gap: 20px;
    position: relative;
    top:150px;
    justify-items:center;
    margin-left: 266px;
    max-width: 1920px;
}

.block-dado-pessoais{
    width: 930px;
    height: 800px;
    border-radius: 10px;
    background-color: #67bce6;
}

#dados-info{
    padding: 20px;
    color: #033d5a;
}


#dados-voo{
    padding: 20px;
    color: #21526b;
}

/* input's */

.text-box{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 30px;
}

.text-box-real{
    display: flex;
    flex-direction: column;
}

#text-input{
    font-size: 18px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #eaf4fa;
}

#input-style{
    background-color: #67bce6;
    outline: 2px solid #3697ff;
    width: 600px;
}

#input-style-limitar{
    background-color: #67bce6;
    outline: 2px solid #3697ff;
    width: 300px;
}

#input-style-arrumar{
    background-color: #67bce6;
    outline: 2px solid #3697ff;
}

.text-box-real-arrumar{
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 120px;
}

.style-text-box-2{
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: bold;
    width: 200px;
    bottom: 107px;
    left: 400px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #eaf4fa;
}

#setinha-baixo{
    position: relative;
    bottom: 42px;
    left: 100px;
    font-size: 30px;
}

input::placeholder{
    font-size: 20px;
    color: #eaf4fa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* btn */

.btn-confir{
    position: relative;
    bottom: 100px;
    display: flex;
    justify-content: space-between;
    left: 250px;
    width: 300px;
}

.style-btn-conf{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #3697ff;
    background-color: rgb(145, 238, 145);
    font-size: 15px;
    color:#0a2861;
    font-weight: bold;
}

.style-btn-conf:hover{
    transform: scale(1.09);
    filter: brightness(1.1);
    transition: 300ms ease;
}

#alter-red{
    background-color: rgb(248, 97, 97);
    color:#0a2861;
}

/* dados voo */

.input-voos{
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
}

.text-input-voo{
    display: flex;
    flex-direction: column;
}

#input-style-voo{
    width: 90px;
    background-color: #67bce6;
    outline: 2px solid #3697ff;
}


/* add persil */

.add-perfil{
    height: 80px;
    width: 930px;
    background-color: #3697ff;
    position: relative;
    top: 170px;
    left: 265px;
    border-radius: 10px;
}

.pagamento{
    width: 500px;
    height: 290px;
    background-color: #3697ff;
    border-radius: 10px;
    position: relative;
    left: 1217px;
    bottom: 120px;
}

/* planos */

.planos{
    height: 400px;
    width: 930px;
    background-color: #3697ff;
    border-radius: 10px;
    position: relative;
    left: 260px;
}

.text-plano{
    position: relative;
    left: 260px;
}

.text-complementar{
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.qr-code{
    position: relative;
    left: 300px;
    bottom: 150px;
}

.add-perfil{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0a2861;
    font-size: 30px;
    font-weight: 900;
}

.add-adu{
    width: 800px;
    display: flex;
    justify-content: space-between;
}

#add-icon{
    font-size: 40px;
}

.subtext-pag, .text-paga{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    left: 20px;
    top: 20px;
    color: #0a2861;
    font-size: 18px;
    font-weight: 900;
}

.bottom-pag{
    position: relative;
    top: 40px;
    display: flex;
    justify-content: space-evenly;
}

#verde, #vermelho{
    padding: 10px;
    border-radius: 20px;
    border: 2px solid #0a2861;
    background-color: rgb(139, 236, 126);
    font-size: 15px;
    font-weight: 600;
}

#vermelho{
    background-color: rgb(212, 94, 94);
}

.planos{
    display: flex;
    justify-content: center;
    align-items: center;
}

#cartaogap{
    margin-left: 20px;
}
