:root {
    --branco: #eafcff;
    --azul1: #B9E5ED;
    --azul2: #4E8EA6;
    --azul2_trans: #4e8fa6ac;
    --azul2_5: #3c7597;
    --azul3: #0a2861;
    --cinza1: #5b719c;
    --cinza2: #414f6d65;
    --cinza3: #2a3f6d79;
    --verde: #43AD7C;
    --fundo: #E6FFFF;
    --semibold: 600;
}

*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: var(--fundo);
    max-height: 3000px;
}

div{
    width: auto;
    height: auto;
}

a{
    color: inherit;
    text-decoration: none;
}

/* header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--azul1);
    height: 128px;
    padding: 10px 20px;
  }

.lula, .bolso {
    display: flex;
    align-items: center;
    gap: 10px;
  }

.logo {
    height: 97px;
    width: 228px;
    margin-left: 170px;
  }

.icones {
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    height: 50px;
    width: 108px;
    margin-right: 170px;
    gap: 29px;
    user-select: none;
  }

.pesquisa {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    height: 32px;
    width: 310px;
    background-color: var(--fundo);
    border: 2px solid var(--azul2);
    border-radius: 20px;
  }

.pesquisa span {
    font-size: 25px;
    user-select: none;
    color: var(--azul2_5);
    font-family: 'Kameron', serif;
    font-weight: var(--semibold);
    margin: 10px;
  }

   /* Icones */

#lupa {
    font-size: 25px;
    color: var(--azul2_5);
    user-select: none;
  }

#iconsH {
    font-size: 35px;
    color: var(--azul2_5);
    user-select: none;
  }

  .navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--azul2);
    height: 79px;
    padding: 10px 20px;
    user-select: none;
}

.icones-navbar {
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 57px;
    width: 1151px;
}

.icones-nav{
  transition: transform 0.3s ease;
}

.icones-nav:hover{
  transform: translateY(-5px);
      cursor: pointer;
}

  /* começo da pag */

.banner-usu{
    position: relative;
    opacity: 70%;
    top: 50px;
    margin-left: 15px;
}

#img-poggers{
    height: 55vh;
    width: 0 auto;
}

/* / ft de perfil / */
.usuario-ft{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 145px;
    z-index: 1;
}

#ft-perfil{
    border-radius: 200px;
    border: 3px solid black;
}

#ft-perfil:hover{
    transform: scale(1.1);
    transition: transform 0.4s ease;
}

/* / conteiner geral / */
.conteiner-geral{
    background-color: rgb(185, 229, 237) ;
    height: 2300px;
    width: 900px;
    position: relative;
    bottom: 325px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
 
/* / textos do extremo cima / */
.text-inf{
    display: flex;
    color: var(--azul3);
    position: relative;
    justify-content: space-between;
    padding: 20px;
}

/* / usuario name / */
.name-perfil{
    display: flex;
    position: relative;
    justify-content: center;
    top: 120px;
    align-items: center;
    gap: 10px;
}

#usu-name{
    color: var(--azul3);
}

.add-usu{
    background-color:#0a2861;
    padding: 5px;
    color: white;
    border-radius: 8px;
}

.add-usu:hover{
    transform: scale(1.1);
    transition: transform 0.3 ease;
}

/* / info recentes / */

.conteiner-info-recent{
    position: relative;
    display: flex;
    background-color: var(--azul3);
    color: white;
    left: 120px;
    border-radius: 10px;
    top: 170px;
    gap: 20px;
    padding: 20px;
    width: 700px;
    text-align: center;
}

/* / fontes debaixo em geral / */
.titulo{
    margin-bottom: 30px;
}

#font-size{
    font-size: 30px;
}

/* / historiador q esta bugado / */
#nomen{
    margin-bottom: 10px;
}


/* / separador / */

.separador{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 200px;
}

/* / info pessoais / */

.text-info-pessoal{
    position: relative;
    color: var(--azul3);
    top: 250px;
    left: 20px;
}

ul{
    left: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;
    font-size: 20px;
    font-weight: bold;
}

.lista-info-pessoal{
    list-style: none;
}

/* / planos / */

.plan-gold{
    position: relative;
    left: 600px;
    top: 130px;
    width: 200px;
}

#plan-title{
    color: #0a2861;
}

.img-plan{
    position: relative;
    left: 30px;
    margin-top: 5px;
}

.golden{
    width: 300px;
}
/* redes sociais */

.social-redes{
    display: flex;
    flex-direction: row;
    position: relative;
    left: 20px;
    top: 250px;
    color: #0a2861;

}

.icons-social{
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 30px;
    position: relative;
    top: 90px;
    left: 9%;
    font-size: 20px;

}

#icon-geral{
    font-size: 35px;
    padding: 10px;
    transition: 400ms ease;
}

#icon-geral:hover{
    color: white;
    background-color: var(--azul3) ;
    border-radius: 10px;
    transform:scale(1.2), ;

}

#separador2{
    top: 400px;
}

/* minhas fts */

.minhas-fts{
    position: relative;
    top: 450px;
    left: 20px;
    color: #0a2861;
    font-size: 25px;
}

.galeria{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.ft-lgl{
    margin: 8px;
    width: 40px;
}

#ft-mudar{
    border: 2px solid black;
    border-radius: 10px;
    transition: 400ms ease;
}

#ft-mudar:hover{
    transform: scale(1.1);
}

#rodape{
  height: 300px;
  width: 100%;
  background-color: #000b1f;
  position: relative;
  bottom: 200px;
}

.consertar{
    align-items: center;
    justify-items: center;
}